.hero2-wrapper {
    position: relative;
    z-index: 50;

    .hero2 {
        @include flex-align;
        flex-direction: column;

        .left {
            width: 100vw;
            height: fit-content;
            // background-color: red;
            @include flex-align;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;

            h1 {
                padding: 20px;
                color: rgba(0, 0, 0, 0.8);
                font-size: 20px;
                font-family: $ff-montserrat;
                text-align: center;

                span {
                    font-size: 40px;
                    color: $lightBlue-clr;

                }
            }

            ul {
                li {
                    padding-left: 1.3rem;
                    margin-top: 15px;
                    @include base-style;
                    line-height: 1.5;

                    &:before {
                        content: "\f00c";
                        font-family: FontAwesome;
                        display: inline-block;
                        margin-left: -1.3em;
                        width: 1.3em;
                        color: $yellow-clr;
                    }
                }

            }

        }

        .right {
            height: 450px;
            // background-color: blue;
            width: 100vw;
            @include flex-align;
            justify-content: center;
            align-items: center;

            .box {
                background-color: rgba(220, 53, 69, 0.3);
                @include flex-align;
                width: 320px;
                flex-direction: column;
                padding: 10px;
                gap: 20px;
                border-radius: 5px;
                transform: scale(1.1);

                h2 {
                    font-family: $ff-montserrat;
                    color: rgba(0, 0, 0, 0.8);

                }

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    width: 100%;

                    input {
                        padding: 12px;
                        border-radius: 5px;
                        width: 95%;
                        border: none
                    }

                    button {
                        @include button-style;
                        width: 95%;
                    }

                }

                label {
                    @include base-style;
                    font-size: 14px;
                    line-height: 1.3;
                    width: 90%;

                    a {
                        text-decoration: underline !important;
                    }
                }
            }
        }
    }
}



@media screen and (min-width:1200px) {
    .hero2-wrapper {
        padding: 40px 0;

        .hero2 {
            flex-direction: row;

            .left {
                width: 35vw;
                align-items: flex-start;

                h1 {
                    text-align: left;

                }
            }

            .right {

                width: 35vw;


            }
        }
    }

}

@media screen and (min-width: 450px) {
    .hero2-wrapper {
        .hero2 {
            .right {
                .box {

                    width: 340px !important;

                    padding: 20px !important;
                }
            }



        }
    }
}