.testimonal-wrapper {
    @include flex-align;
    margin: 40px 0;
    .testimonal {
        @include flex-align;
        flex-direction: column;
        .child:nth-child(2){
            height: auto;
            @include flex-align;
            flex-direction: column;
            justify-content: flex-start;
        }
        .child:nth-child(1){
            height: 360px;
          

        }
        .child{
            width: 100vw;

        }
    }
}


.child-title {
    color: rgba(0, 0, 0, 0.5);

    text-align: center;
    font-family: $ff-roboto;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0.08em;
    padding: 20px;


}



@media screen and (min-width:992px) {
    .testimonal-wrapper{
        .testimonal{
        gap: 30px;

            flex-direction: row;
           .child:nth-child(1){
            width: 40vw;
           }
           .child:nth-child(2){
            width: 40vw;
           }
        }
    }
    
}
