

/* Colors */


$pink-clr: #FF2359;
$pink-clr1: #1E90FF;
$yellow-clr: #ED8722;
$yellow-clr1: #6b971d;
$lightBlue-clr: #1E90FF;
$darkBlue-clr: #0063C4;
$lightBlack-clr: #505050;
$lightBlack-clr1: black;
$darkBlack-clr: #2F2F2F;
$linearGradient1-clr: #FC6076;
$linearGradient2-clr: #FF9944;
$linearGradient3-clr: #010118;
$linearGradient4-clr: #252555;
$bg-light: #1a1a1a;
/* Fonts */
$ff-roboto: 'Roboto', sans-serif;
$ff-montserrat: 'Montserrat', sans-serif;
$ff-jost: 'Jost', sans-serif;
$ff-workSans: 'Work Sans', sans-serif;
$ff-bebasNeue: 'Bebas Neue', cursive;

// font size 
$fs-normal: 1rem;
$fs-regular: 0.9375rem;
$fs-medium: 1.125rem;
$fs-extra: 22px;

/* Font Weights */
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

/* Spacing */
$letterSpacing: 1px;
$letterSpacing1: 9px;
$letterSpacing2: 3px;